:root {
   --dark-background-color: #0a626e;
   --dark-text-color: #fff;
   --light-background-color: #0dbe83;
   --light-text-color: #000;
}



.blur {
   filter: blur(5px);
   ;
}

body {
   text-align: center;
   z-index: 10;
   transition: filter 0.3s ease;
}

body {
   background-color: var(--light-background-color);
   color: var(--light-text-color);
   font-size: 16px;
   font-family: Noto-sans, sans-serif
}

.content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#gameArea {
   display: grid;
   grid-template-columns: 150px 150px 150px;
   grid-template-rows: 150px 150px 150px;
   /* gap: 2px; */
}

.overlay {
   position: absolute;
   position: absolute;
   left: 0;
   right: 0;
   margin-inline: auto;
   width: fit-content;
   width: 55%;
   height: 60%;
   background: rgba(0, 0, 0, 0.7);
   /* Semi-transparent background */
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 24px;
   z-index: 999;
   display: flex;
   flex-direction: column;
}

.overlay h3 {
   display: block;
}

.overlay span {
   display: block;
}

.cell {
   background-color: var(--dark-background-color);
   color: var(--dark-text-color);
   cursor: pointer;
   line-height: 150px;
   font-size: 2rem;
   margin: -1px;
   border-radius: 2px;
}

/* .cell:hover {
   background-color: #0d6773;
} */

/* .cell:active {
   background-color: #93f4d2;
} */


.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
   border-bottom: 5px solid #4f8fb5;
   border-radius: 2px;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
   border-right: 5px solid #4f8fb5;
   border-radius: 2px;
}

.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6) {
   border-bottom: 5px solid #4f8fb5;
   border-radius: 2px;
}

.cell:nth-child(2),
.cell:nth-child(5),
.cell:nth-child(8) {
   border-right: 5px solid #4f8fb5;
   border-radius: 2px;
}

@media (prefers-color-scheme: dark) {

   body {
      background-color: var(--dark-background-color);
      color: var(--dark-text-color);
   }
}